body{
	background-color: #fff;
}
section{
	text-align: center;
}
.banner_text{
	width:70%;
	margin:10% auto 7% auto;
}
.box{
	width:95%;
	margin-top:10%;
}
section input{
	width:55%;
	padding:3%;
	border-radius: 7px;
	border:2px solid #b3b3b3;
	background: transparent;
	text-align: center;
	-webkit-appearance:none;
}
.phone{
	margin-top:7%;
}
.button{
	/*background-color: #555e79;*/
	color:#666;
	margin:5% auto 15%;
}
.end{
	margin:10% auto 20%;
	width:40%;
}
.activityText{
	width:60%;
	margin-bottom: 7%;
}
.all_activity{
	width:94%;
	/*border:1px solid blue;*/
	margin:0 auto;
}
.sigle_activity{
	display:block;
}
.sigle_activity a{
	display:inline-block;
	text-align: left;
	margin:0 auto;
}
.sigle_activity{
	overflow: hidden;
	/*border:1px solid black;	*/
}
.left,.right{
	width:46%;
}
.sigle_activity .left{
	margin-right:5%;
}
.txt_price>p:nth-child(1){
	padding:1%;
	margin:2% 1%;
	font-size:0.7em;
	color:#343434;
	white-space:nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}
.txt_price>p:nth-child(2){
	padding:2% 1%;
	color:#ff5959;
	font-size: 0.7em;
	margin-bottom: 2%
}
.txt_price>p:nth-child(2) span{
	color:#494440;
}
.mask{
	background-color:rgba(0,0,0,0.68); 
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	margin:0 auto;
	display:none;
}
.close{
	width:7%;
	position:absolute;
	right:17%;
	top:13%;
}
.outside,.inside{
	width:66%;
	position:absolute;
	right:17%;
	top:20%;	
}
.register{
	padding:8% 6%;
	position:absolute;
	/*right:44%;
	top:27rem;*/
	right:44%;
	top:57%;
}