body{
	background: #ededed;
}

.g-head{
	box-shadow: 0 -1px 1px -1px rgba(0, 0, 0, 0.31) inset;
	background: #ededed;
}

.g-main{
	padding:44px 20px;
	text-align: center;
}
		.u-account label,.u-passCode label,#isNeedTxt,.u-pwd label{
			
			font-size: 16px;
			display: inline-block;
			width: 80px;
			text-align: center;
			float: left;
			padding: 10px 0;
		}
		input{
			background: #fff;
			padding: 10px;
			border-radius: 5px;
			font-size: 13px;
			outline: none;
			border: none;
			overflow: hidden;
			width: 100%;
			margin-top: 2px;
		}
		.u-account,.u-pwd{
			
			margin-bottom: 20px;
			font-size:18px;
		}
		.u-account{
			margin-top: 60px;
		}
		#forget{
			display: block;
			text-align: right;
			font-size:13px;
			margin: 10px auto;
			color: #333;
			float: right;
		}
		.m-loginBtn{
			background: #00c8c8;
			padding: 10px;
			border-radius: 5px;
			color: #fff;
			font-size:18px;
			margin-top: 20px;
			width: 80%;
			display: inline-block;
			letter-spacing: 0.5em;
		}

	input[type=submit]{
		color: #fff;
	}

		#getCode{
		float: right;
		background: #00c8c8;
		color: #fff;
		padding: 10px 0;
		width: 130px;
		margin-left: 10px;
		font-size: 13px;
		margin-top: 2px;
		text-align: center;
		border-radius: 5px;
	}

	#doCode{
		float: left;
		color: #333;
		font-size: 13px;
		padding: 10px 0;
	}

	.u-passCode{
		margin-bottom: 20px;
	}

	.isNeed-1{
		position: relative;
		font-size: 13px;
		height: 70px;
		line-height: 70px;
		width: 100px;
		display: inline-block;
	}

	.isNeed-2{
		position: relative;
		font-size: 13px;
		display: inline-block;
		line-height: 70px;
		width: 100px;
	}

	.isNeed-1 label{
		position: absolute;
		left: 0;
		margin-top: -20px;
		top: 50%;
		width: 39px;
		height: 39px;
		background: url(../images/noNeed.png) no-repeat;
	}

	.isNeed-2 label{
		position: absolute;
		left: 0;
		margin-top: -20px;
		top: 50%;
		width: 39px;
		height: 39px;
		background: url(../images/noNeed.png) no-repeat 0 -65px;
	}