*{
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
    box-sizing:border-box;   
    -moz-box-sizing:border-box;  
}
html{
	font-family:"Hiragino Sans GB",Helvetica,STHeiTi,Arial,sans-serif;
    -webkit-text-size-adjust:100%;
    font-size:62.5%;
}
a,u{
    text-decoration:none;
    color:#999;
}
li{
    list-style: none;
}

/********************************************************/
header img{
	width:100%;
}
header .map{
	margin-top:5%;
}

section{
	margin:0 auto;
}
.wrap{
	width:94%;
	margin:0 auto;
}
.tuijian{
	margin-top:9%;
	margin-bottom:4%;
	text-align: center;
	/*border:1px solid red;*/
}
.tuijian img{
	width:18%;
}
.row{
	padding-bottom:2%;
}

.row div{
	width:48%;
	display:inline-block;
}
.left img,.right img{
	width:100%;
}
.left{
	margin-right:1%;
	margin-left:1%;
}
.row p span{
	color:#f8667c;
}
.row p{
	color:#333;
	font-size:1.25rem;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;

}
.more{
	text-align: center;
	margin-top:6%;
	/*margin:6% 34% 11% 39%;*/
}
/*.more img{
	width:30%;
}
*/
