body{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.contain{
	min-width: 320px;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -2px;
}
.header{
	width: 100%;
}
.header_bottom img{
	width: 100%;
	/*height: 220px;*/
}
.header_text{
	width: 80%;
	margin: 1rem auto 1.2666rem auto;
}
.header_text img{
	width:100%;
}
.bor-txt{
	text-align: center;
	margin-top:2%;
}
.bor-txt img{
	width:80%;
}
.bor-txt .text{
	width:60%;
	margin-top:4%;
	margin-bottom:3%;
}
.kuang{
	text-align: center;
}
.input,.button{
	width:75%;
	border-radius: 8px;
	outline:none;
	text-align: center;
	border:1px solid #e6c880;
	font-size:0.9333em;
	padding:3% 0;
}
.button{
	margin-top:4%;
	background:#e6c880;
	border:1px solid #e6c880;
	color:#333333;
}
.good{
	width:18%;
	margin:6% 0 5% 0;
}
.text_li{
	padding:4% 0 4% 0;
	font-size: 0.933em;
	color:#de4b4b;
}
.particular_list a{
	display: block;
}
.particular_left{
	float: left;
	/*background: red;*/
	width: 45%;
	margin-left:3.5%;
}
.particular_right{
	float: right;
	/*background: green;*/
	width: 45%;
	margin-right:3.5%;
}
.particular_left img{
	width: 100%;
	display: block;
	
}
.particular_right img{
	width: 100%;
	display: block;

}
.txt_price>p:nth-child(1){
	width: 90%;
	/*background: red;*/
	margin:3% 2.5% 1% 2.5%;
	padding:1%;
	color:#343434;
	white-space:nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	font-size: 0.7em;
}
.txt_price>p:nth-child(2){
	float: left;
	margin-left: 3.5%;
	color:#ff5959;
	font-size: 0.7em;
	margin-bottom: 2%
}
.txt_price>p:nth-child(2) span{
	color:#494440;
}
/*.txt_price>p:nth-child(3){
	color:#a0a0a0;
	text-decoration: line-through;
	white-space:nowrap;
	float: left;
	margin-left: 6%;
	font-size: 0.7em;
	margin-bottom: 2%
}*/
.a_top{
	margin-top: 5%;
}
.find_more{
	width: 23.066666%;
	margin: 2.866666rem auto 6.766666rem auto;
}
.find_more img{
	width: 100%;
}
.see_more{
	width:27%;
	margin:8% auto 22% auto;
	white-space:nowrap;

}
.logo_cash{
	position: fixed;
	z-index: 100;
	bottom: 0;
	display:none;
}

.logo_cash img{
	width: 100%;
	margin-bottom: -3px;	
}

.mask{
  width: 80%;
  margin:0 auto;
  background:white;
  display:none;
  position:fixed;
  top:50%;
  margin-top:-25%;
  z-index:200;
  left:54%;
  margin-left:-44%;
  border-radius: 4px;
}
.bg{
  display:none;
  position:fixed;
  width:100%;
  height:100%;
  background:#000;
  z-index:2;
  top:0;
  left:0;
  opacity:0.7;
}
.mask p{
	text-align: center;
	padding: 1.5%;
	color:#196696;
}
.mask .p1{
	/*font-weight: bold;*/
	font-size: 1.2em;
	color: #333333;
}
.mask .p1{
	margin-top: 22px;
	/*margin-left: 16%;*/
	text-align: center;
}
.mask .p2{
	color:#ff4b72;
	/*font-weight: bold;*/
	font-size: 1.2em;
	margin: 0.6% auto 0 auto;
}
.mask .p3{
	color:#333333;
	font-size: 1.1em;
}
.mask .p4 img{
	margin: 2% auto 0 auto;
	width: 75%;
	display: block;
	margin-left: 13%;
	outline: none;
	margin-bottom: 6%;
}
.mask .p5{
	font-size: 0.8em;
	margin-top:2%;
	margin-bottom:2%;
}
.mask .tog{
	display: block;
	width: 50%;
	margin-left:74%;
	margin-top: -93%;
}

.ck_get{
	display: block;
	width: 70%;
	margin: 5% auto 3% auto;
}
.ck_get img{
	width: 100%;
} 
.old_price{
	font-size: 0.8em;

}
.lon_in{
	display: block;
	width: 70%;
	margin: 0 auto 6% auto;
}
.lon_in img{
	width: 100%;
} 

.mask_green{
  width: 80%;
  margin:0 auto;
  background:white;
  display:none;
  position:fixed;
  top:50%;
  margin-top:-25%;
  z-index:200;
  left:54%;
  margin-left:-44%;
  border-radius: 4px;
}
.bg2{
  display:none;
  position:fixed;
  width:100%;
  height:100%;
  background:#000;
  z-index:2;
  top:0;
  left:0;
  opacity:0.7;
}
.mask_green p{
	text-align: center;
	padding: 1.5%;
	color:#196696;
}
.mask_green .p1{
	/*font-weight: bold;*/
	font-size: 1.2em;
	color: #333333;
}
.mask_green .p1{
	margin-top: 22px;
	/*margin-left: 16%;*/
	text-align: center;
}
.mask_green .p2{
	color:#ff4b72;
	/*font-weight: bold;*/
	font-size: 1.2em;
	margin: 0.6% auto 0 auto;
}
.mask_green .p3{
	color:#333333;
	font-size: 1.1em;
}
.mask_green .p4 img{
	margin: 2% auto 0 auto;
	width: 75%;
	display: block;
	margin-left: 13%;
	outline: none;
	margin-bottom: 6%;
}
.mask_green .p5{
	font-size: 0.8em;
	margin-top:2%;
	margin-bottom:2%;
}
.mask_green .tog{
	display: block;
	width: 50%;
	margin-left:74%;
	margin-top: -93%;
}
