body{
	min-width:320px;
	max-width:750px;
	margin:0 auto;
	background:#fff;
	font-size:.4em;
}
section{
	margin:0 auto;
}
input{
	-webkit-appearance:none;
	border-radius: 0;
}
.description{
	width:88%;
	margin:4% 6% 7% 6%;
}
.input{
	width:92%;
	margin: 0 4%;
}
.textarea{
	width:8.65rem;
	height:2.35rem;
	position:absolute;
	top:20.15rem;
	left:.65rem;
	padding:1%;
}
.phone_submit{
	margin:1% 6% 10% 6%;
	overflow: hidden;
}
.phone_submit2{
	text-align: center;
	margin:1% 0 10% 0;
}
.phone,.submit{
	float:left;
	/*padding:2% 1%;*/
}
.submit{
	padding:2% 1%;
}
.phone{
	width:60%;
	color:#666;
	margin-right:5%;
	border:1px solid #8ee0f8;
	padding:2.5% 1%;
}
.submit,.submit2{
	width:35%;
	background:#8ee0f8;
	color:#fff;
	font-size:1em;
	font-weight: bold;
}

.submit2{
	padding:2% 1%;
}
.person{
	border-bottom:0.5px solid #eee;
	overflow: hidden;
	margin:5% 6%;
}
.headImg,.info{
	display:inline-block;
	float:left;
	/*border:1px solid blue;*/
}
.headImg img{
	width:100%;
	border-radius: 50%;
	display:block;
}
.headImg{
	width:12%;
	margin-right:3%;
}
.info{
	width:85%;
}
/*name fav的父元素*/
.info_message{
	overflow: hidden;
	padding-top:3%;
}
.name,.fav{
	display:inline-block;
}
.name{
	font-size:1.2em;
	float:left;
	width:72%;
	margin-right:3%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.name>span{
	color:#8ee0f8;
	padding-right:5%;
	/*width:50%;
	float:left;
	*/
	
}
/*点赞框及里面的图片*/
.fav{
	border:1px solid #ced9db;
	border-radius: 5px;
	width:25%;
	float:right;
	text-align: center;
}
	.love{
		width:20%;
		vertical-align: middle;
		margin-right:10%;
	}
	b{
		font-weight: normal;
		color:#000;
	}
.text{
	font-size:.4rem;
	text-indent:.4rem;
	word-break: break-all;
	padding:3% 2%;
	margin:6% 0;
	background-color:#f6f6f6;
	border-radius: 10px;
	position:relative;
	z-index:-1;
}
.success{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.68); 
	position:fixed;
	top:0;
	left:0;
	display:none;
	z-index:10;
}
.tanchuang{
	width:76%;
	position:absolute;
	right:1.2rem;
	top:4.5rem;
}
.close{
	width:.8rem;
	height:.8rem;
	/*border:1px solid red;*/
	position:absolute;
	top:4.45rem;
	right:1.2rem;
}
.shareBtn{
	width:3rem;
	height:.8rem;
	/*border:1px solid blue;*/
	position:absolute;
	top:8.6rem;
	left:3.5rem;
}
.mask{
	display:none;
}
.up{
	position:absolute;
	left:.6rem;
	top: -.34rem;
	width:10%;
}
