
/*遮罩*/
.yanzheng{
	background-color:rgba(0,0,0,0.68); 
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	margin:0 auto;
	display:none;

}
.popTan{
	background:#fff;
	width:80%;
	/*height:33%;*/
	margin:0 auto;
	position:absolute;
	top:30%;
	left:10%;
	border-radius:5px;
}
.input0{
	width:100%;
	margin:0 auto;
	padding:0 10%;
	margin-top:10%;
}
#phone{
	/*border:1px solid blue;*/
	width:100%;
	border:1px solid #ddd;
	height:30px;
	line-height: 30px;
}
.input1{
	width:100%;
	margin:0% auto;
	padding:0 10%;
	margin-top:5%;
	/*margin:10% auto;*/
}
.input1 img{
	display:inline-block;
	width:35%;
	height:30px;
	vertical-align: bottom;
}
.securityCode{
	/*border:1px solid #ddd;*/
	width:60%;
	height:30px;
	display:inline-block;
	border-radius: 0px;
	font-size: 0.999em;
	border-bottom:#333;
	border:1px solid #ddd;
}
.input2{
	width:100%;
	margin-top:5%;
	padding:0 10%;
}
.btnYzm{
	width:35%;
	height:30px;
	display:inline-block;
	background: #86e2fd;
	border:1px solid #86e2fd;
	color:#fff;
	border-radius: 5px;
}
.securityCode2{
	/*border:1px solid #ddd;*/
	width:60%;
	height:30px;
	display:inline-block;
	border-radius: 0px;
	font-size: 0.999em;
	border-bottom:#333;
	border:1px solid #ddd;
}
.input3{
	width:100%;
	margin-top:5%;
	/*margin:5% 0;*/
	padding:0 10% 5% 10%;
	/*margin-bottom:10%;*/
	/*margin-bottom:15%;*/
}
.true{
	width:30%;
	height:30px;
	background:#86e2fd;
	border-radius: 5px;
	color:#fff;
	margin-left:5%;
	border:1px solid #86e2fd;
}
.cancle{
	width:30%;
	height:30px;
	border:1px solid #ddd;
	border-radius: 5px;
	color:#333;
	background: #fff;
	margin-left:15%;

}
.popTan input,.popTan button{
	outline:none;
}


