body{
	max-width:750px;
	min-width:320px;
	margin:0 auto;	
	font-size: .4rem;
}
.writeConfession{
	background: url(../lovingLight_img/background.jpg) no-repeat;
	background-size: 100% 100%;
	height:56.05rem;
	position: relative;
	/*display:none;*/
}
.toSomebody{
	position:absolute;
	top:39.98rem;
	left:2.4rem;
	padding:0.1rem;
	background-color:transparent;
	
}
.textarea{
	width:6.6rem;
	height:3.8rem;
	position:absolute;
	top:40.8rem;
	left:1.7rem;
	color:#666;
	/*background-color:transparent;*/
}

.fromMe{
	position:absolute;
	top:44.70rem;
	left:6.9rem;
	width:2rem;
	height:.5rem;
	padding:0.1rem;
	margin-top:0.1rem;
	font-size:.3rem;
	white-space: nowrap;
	background-color:transparent;
}
.commomBig{
	
}
.commonText{
	width:6.5rem;
	height:2rem;
	position:absolute;
	top:0.5rem;
	left:0rem;
	color:#666;
	background-color: transparent;
}
.common_toSomebody{
	width:5rem;
	height:.5rem;
	position: absolute;
	top:0rem;
	left:0rem;
	background-color: transparent;	
}
.common_fromMe{
	width:2.5rem;
	height:.5rem;
	position: absolute;
	bottom:0rem;
	right:0rem;
	background-color: transparent;	
}
.wallText{
	font-size:0.3rem;
	/*overflow-y:hidden;*/
	height:14rem; 
	width:6.9rem;
	position:absolute;
	top:8.7rem;
	left:1.5rem;
}
.writeConfession0{
	position:absolute;
	top:0.2rem;
	left:0.2rem;
	width:6.5rem;
	height:3rem;
}
.writeConfession1{
	position:absolute;
	top:5.5rem;
	left:0.2rem;
	width:6.5rem;
	height:3rem;
}
.writeConfession2{
	position:absolute;
	top:10.9rem;
	left:0.2rem;
	width:6.5rem;
	height:3rem;
}

/*.writeConfession3{
	position:absolute;
	top:47.6rem;
	left:1.8rem;
}
.writeConfession4{
	position:absolute;
	top:53.0rem;
	left:1.8rem;
}*/
.phone{
	width:4rem;
	height:.8rem;
	border-radius: 10px;
	position:absolute;
	top:46.2rem;
	left:3.0rem;
	text-align: center;
	vertical-align: middle;
	background-color: transparent;
}
.btn{
	width:4rem;
	height:.8rem;
	border-radius: 10px;
	position:absolute;
	top:47.7rem;
	left:2.9rem;
}
.tip{
	color:#a6a2a3;
	position:absolute;
	top:48.8rem;
	left:2rem;
}
/*弹框图片*/
.makeWall{
	background:url(../lovingLight_img/popWall_01.jpg) no-repeat;
	background-size: 100% 100%; 
	height:17.78rem;
	position:relative;
	display:none;
}
.picSave{
	width:8.58rem;
	height:7.65rem;
	position: absolute;
	top:2.735rem;
	left:.78rem;
}
.pop_save{
	width:4.1rem;
	height:.8rem;
	border-radius: 10px;
	position:absolute;
	top:10.89rem;
	left:3rem;
	background:transparent;
}
.weixin_save{
	width:4.1rem;
	height:.8rem;
	border-radius: 10px;
	position:absolute;
	top:11.5rem;
	left:3rem;
	background:transparent;
	/*display:none;*/
}
/*.arrow{
  border: 6px solid transparent;
  border-bottom-color: #FFF;
  width: 6px;
  height: 12px;
  position:absolute;
  top:10.7rem;
  left:2.6rem;
}*/
.pic_text{
	width:4.1rem;
	height:.5rem;
	position:absolute;
	top:10.7rem;
	left:3rem;
	text-align: center;
	color:#fff;
}
.pop_share{
	width:4.1rem;
	height:.8rem;
	border-radius: 10px;
	position:absolute;
	top:12.9rem;
	left:3rem;
	background: transparent;
}
.mask{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background: #000;
	opacity:.68;
	display:none;
}

.fuchuang{
	position:fixed;
	bottom:-1%;
	left:0;
	z-index:10;
	display:none;
}


.picture{
	background: url(../lovingLight_img/popWall_02.jpg) no-repeat;
	background-size:100% 100%;
	width:10rem;
	height:17.78rem;
}
.mask1{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background: #000;
	opacity:.68;
	display:none;
}